body{
	margin: 0;
	padding: 0;
	background:#262626;
}

a.tutor{
	position: absolute;
	top: 64%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: 70px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 30px;

}

a.prost{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	height: 70px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 30px;
}

a.prost:hover{
	animation: animate 8s linear infinite;
}
a.tutor:hover{
	animation: animate 8s linear infinite;
}

@keyframes animate
{
	0%{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}


/* ------------------------------neon------------------------------------------- */

.neo{
    position: absolute;
    top:3%;
    left: 25%;
    margin: 0;
    font-size: 7em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;

}
.neo:after
{   content: attr(data-text);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    color: #ff005b;
    filter:blur(15px);

}
.neo:before
{   content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fe3a80;
    z-index: -2;
    opacity: .5;
    filter:blur(40px);

}
/* ------------------------------Neon------------------------------------------- */

/* ------------------------------Footer------------------------------------------- */
footer{
	
	position: absolute;
	bottom:0px;
	padding:20px;
	width: 97%;
	text-align: center;
	background:#696767;
	color:#fff;
	font-family: sans-serif;
	font-weight: bold;
	font-size:11pt;
	text-transform: uppercase;
}
/* ------------------------------Footer------------------------------------------- */
/* ------------------------------Git,steam.....------------------------------------------- */
ul{
	margin:0;
	padding:0;
	display:flex;
	position:absolute;
	top:80%;
	left:86%;


}

ul li {
	list-style:none;
	margin:0 15px;
}

ul li a {
	position:relative;
	display:block;
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	background:#333;
	border-radius:50%;
	font-size:30px;
	color:#666;
	transition:.5s;
}

ul li a:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #ff005b;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
}

ul li a:hover:before{
	transform: scale(1.1);
	box-shadow: 0 0 15px #ff005b;
}

ul li a:hover
{
	color:#ff005b;
	box-shadow: 0 0 5px #ff005b;
	text-shadow: 0 0 5px #ff005b;
}
/* ------------------------------Github,Steam.....------------------------------------------- */
/* ------------------------------Button start------------------------------------------- */

.glowing{
	position: relative;

}
.glowing span{
	position: absolute;
	margin: 210px;
	top: 90%;
	left: 20%;
	width: 300px;
	height: 80px;
	background: #262626;
	border: 4px solid #00fff5;
	font-size: 48px;
	color: #333;
	text-align: center;
	border-radius: 40px;
	text-transform:  uppercase;
	font-family: verdana;
	overflow: hidden;
	
}
input{
	-webkit-appearance:none;
	transition: .5s
}
input:hover + span{
	color: #00fff5;
	border: 4px solid #00fff5;
	text-shadow: 0 0 5px #00fff5;
	box-shadow:  0 0 20px #00fff5;

}
/* ------------------------------Button start------------------------------------------- */
/* ------------------------------Button tutorial------------------------------------------- */
.glowings
{
	position: relative;
}
.glowings span{
	position: absolute;
	margin: 300px;
	top: 90%;
	left: 13.5%;
	width: 300px;
	height: 80px;
	background: #262626;
	border: 4px solid #00fff5;
	font-size: 48px;
	color: #333;
	text-align: center;
	border-radius: 40px;
	text-transform:  uppercase;
	font-family: verdana;
	overflow: hidden;
	
}
/* ------------------------------Button tutorial------------------------------------------- */
/* ------------------------------Button about------------------------------------------- */
.glowings2
{
	position: relative;
}
.glowings2 span{
	position: absolute;
	margin: 390px;
	top: 90%;
	left: 7%;
	width: 300px;
	height: 80px;
	background: #262626;
	border: 4px solid #00fff5;
	font-size: 48px;
	color: #333;
	text-align: center;
	border-radius: 40px;
	text-transform:  uppercase;
	font-family: verdana;
	overflow: hidden;
	
}